$unit: 'px'
section
  +w(100%)
  margin: 0 auto

.head
  position: absolute
  top: 0
  left: 0
  right: 0
  font-family: $f_bold
  background-color: rgba(#222222,.7)
  &,a,button
    color: #fff
  svg
    fill: #fff
  section
    height: 50px
    padding: 0 30px
    display: flex
    align-items: center
    justify-content: space-between
  &-logo
    height: 40px
  &-callback
    +dfc
    width: 300px
    height: 30px
    border-radius: 5px
    background-color: $red
    box-shadow: 0 0 10px rgba($red,.25)
    &-tablet
      display: none
  &-mobile
    &-btn
      +dfc
      padding: 4px 11px
      border-radius: 5px
      background-color: $red
      box-shadow: 0 0 10px rgba($red,.25)
      color: #fff
      span
        margin-right: 14px
      svg
        fill: #fff
        height: 15px
    &-form
      padding: 20px 30px
      display: flex
      flex-direction: column
      align-items: center
      background-color: #262626
      border-bottom: 2px dashed $red
      position: relative
      &-row
        +w(300px)
        display: flex
        align-items: center
        justify-content: space-between
      &,a,button
        color: #fff
      svg
        fill: #fff
        width: 15px
      .head-logo
        flex: 0 0 60px
        height: 60px
    &-close
      +wh(30px)
      +dfc
      padding: 3px
      border: 2px solid #fff
      border-radius: 100%
      position: absolute
      top: 10px
      right: 10px
      opacity: .5
      &:before,&:after
        +wh(20px,2px)
        content: ''
        display: table
        position: absolute
        background-color: #fff
      &:before
        transform: rotate(45deg)
      &:after
        transform: rotate(135deg)
  &-conts
    display: none
    &-row
      &,a
        margin-bottom: 14px
      a
        display: flex
        align-items: center
        svg
          margin-right: 10px
      &:last-child
        display: none

.main
  &-title
    font-family: $f_medium
    color: #fff
    font-size: 24px
    line-height: 30px
    span
      display: block
.banner
  background-image: url('../../img/MainImg.png')
  background-size: 165%
  background-color: $body
  background-position: 55% 10%
  background-repeat: no-repeat
  padding: 75px 0 0
  font-family: $f_medium
  color: #fff
  &-list
    margin-top: 30px
    svg
      width: 13px
      margin-right: 5px
  .main-title,&-list
    margin-left: 30px
  &-item
    margin-bottom: 10px
    display: flex
    align-items: center
  &-row
    display: flex
    flex-direction: column
  &-btn
    order: 2
    background-color: $red
    font-size: 13px
    font-family: $f_bold
    color: #fff
    border-radius: 5px
    margin: 23px auto 18px
    padding: 6px 35px
  &-tel
    width: 100%
    color: #e83432
    font-family: $f_bold
    font-size: 31px
    padding: 12px 0 7px 30px
    background-color: rgba(#fff,.5)
    svg
      width: 22px
      fill: #e83432
