$unit: 'px'
section
  +w(100%)
  margin: 0 auto

.head
  position: absolute
  top: 0
  left: 0
  right: 0
  font-family: $f_bold
  background-color: rgba(#222222,.7)
  &,a,button
    color: #fff
  svg
    fill: #fff
  section
    height: 50px
    padding: 0 30px
    display: flex
    align-items: center
    justify-content: space-between
  &-logo
    height: 40px
  &-callback
    +dfc
    width: 300px
    height: 30px
    border-radius: 5px
    background-color: $red
    box-shadow: 0 0 10px rgba($red,.25)
    &-tablet
      display: none
  &-mobile
    &-btn
      +dfc
      padding: 4px 11px
      border-radius: 5px
      background-color: $red
      box-shadow: 0 0 10px rgba($red,.25)
      color: #fff
      span
        margin-right: 14px
      svg
        fill: #fff
        height: 15px
    &-form
      padding: 20px 30px
      display: flex
      flex-direction: column
      align-items: center
      background-color: #262626
      border-bottom: 2px dashed $red
      position: relative
      &-row
        +w(300px)
        display: flex
        align-items: center
        justify-content: space-between
      &,a,button
        color: #fff
      svg
        fill: #fff
        width: 15px
      .head-logo
        flex: 0 0 60px
        height: 60px
    &-close
      +wh(30px)
      +dfc
      padding: 3px
      border: 2px solid #fff
      border-radius: 100%
      position: absolute
      top: 10px
      right: 10px
      opacity: .5
      &:before,&:after
        +wh(20px,2px)
        content: ''
        display: table
        position: absolute
        background-color: #fff
      &:before
        transform: rotate(45deg)
      &:after
        transform: rotate(135deg)
  &-conts
    display: none
    &-row
      &,a
        margin-bottom: 14px
      a
        display: flex
        align-items: center
        svg
          margin-right: 10px
      &:last-child
        display: none

.main
  &-title
    font-family: $f_medium
    color: #fff
    font-size: 24px
    line-height: 30px
    span
      display: block
.banner
  background-image: url('../../img/MainImg.png')
  background-size: 165%
  background-color: $body
  background-position: 55% 10%
  background-repeat: no-repeat
  padding: 75px 0 0
  font-family: $f_medium
  color: #fff
  &-list
    margin-top: 30px
    svg
      width: 13px
      margin-right: 5px
  .main-title,&-list
    margin-left: 30px
  &-item
    margin-bottom: 10px
    display: flex
    align-items: center
  &-row
    display: flex
    flex-direction: column
    align-items: center
  &-btn
    order: 2
    background-color: $red
    font-size: 13px
    font-family: $f_bold
    color: #fff
    border-radius: 5px
    margin: 23px auto 18px
    padding: 6px 35px
  &-tel
    width: 100%
    color: #e83432
    font-family: $f_bold
    font-size: 31px
    padding: 12px 0 7px 30px
    background-color: rgba(#fff,.75)
    svg
      width: 22px
      fill: #e83432

.calltoaction
  section
    padding: 20px 0
  &-text
    +w(90%)
    margin: 0 auto
    text-align: center
    line-height: 24px
    strong
      font-weight: 700

.border
  width: calc(100% - 20px)
  margin: 0 auto
  &:before,&:after
    background: url('../../img/stripe.png') no-repeat
    background-size: 100%
    display: table
    content: ''
    height: 2px
    width: 100%

.services
  line-height: 1.4
  background: url('../../img/extingushers.png') 280px 560px no-repeat, url('../../img/extingushers.png') -280px 1280px no-repeat
  background-size: auto 418px
  section
    padding: 30px
  &-title
    display: flex
    align-items: center
    margin-bottom: 30px
    svg
      width: 30px
      margin-right: 10px
    span
      width: calc(100% - 40px)
  &-block
    margin-bottom: 30px
  &-item
    +wh(100%,206px)
    border-radius: 10px
    overflow: hidden
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    box-shadow: 0 0 10px rgba($black,.5)
    margin-bottom: 10px
    &:hover
      .services-item-cont
        transform: translateY(0)
    &-first
      background-image: url('../../img/wires-safety.jpg')
    &-second
      background-image: url('../../img/smoke-safety.jpg')
    &-third
      background-image: url('../../img/gidrant.jpg')
    &-forth
      background-image: url('../../img/steel-construction.jpg')
    &-fifth
      background-image: url('../../img/wood-building.jpg')
    &-sixth
      background-image: url('../../img/cloth-safety.jpg')
    &-seventh
      background-image: url('../../img/roofing-safety.jpg')
    &-eigth
      background-image: url('../../img/stairs-safety.jpg')
    &-cont
      +wh(100%)
      background-color: rgba($red,.5)
      transition: .35s ease
      transform: translateY(100%)
      +dfc
    &-fill
      +wh(calc(100% - 20px))
      +dfc
      text-align: center
      flex-direction: column
      font-family: $f_medium
      color: #fff
      border-radius: 10px
      background-color: rgba($red,.65)
      span
        display: block

.lab
  margin: 30px 0
  position: relative
  padding: 22px 0 40px
  background-image: url('../../img/fire-test.jpg')
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  text-align: center
  overflow: hidden
  &,&-link
    color: #fff
  &-text strong
    color: $red
    font-family: $f_medium
  &-text,&-text-big
    span,strong
      margin-bottom: 5px
      display: block
  &-text,&-text-big
    margin-bottom: 30px
  &-text-big
    margin-top: 30px
  &-btn,&-link
    font-size: 14px
    padding: 4px 7px
    border-radius: 5px
  &-btn
    background-color: $body
    font-family: $f_medium
  &-link
    background-color: $red
    box-shadow: 0 0 15px $red
    font-family: $f_bold
  &-img
    position: absolute
    height: 144px
    &-first
      transform: rotate(30deg)
      left: -25px
      bottom: 40px
    &-last
      right: -30px
      bottom: 20px

.attestat
  &-row
    display: flex
    align-items: center
    justify-content: space-around
    padding: 15px 10px 25px
    position: relative
  &-glass
    width: 71px
    position: absolute
    bottom: -5px
    right: -25px
    opacity: .5

.shop
  padding: 10px 0 40px
  background-image: url(../../img/site-picture.jpg)
  background-repeat: no-repeat
  background-position: top
  background-size: cover
  text-align: center
  color: #fff
  overflow: hidden
  position: relative
  margin-bottom: 13px
  &-text
    margin-top: 17px
    margin-bottom: 23px
  &-img
    position: absolute
    &-first
      width: 46px
      transform: rotate(30deg)
      bottom: -50px
      left: 0
    &-last
      width: 98px
      bottom: -13px
      right: -37px