$unit: 'px'
section
  +w($tablet#{$unit})

.head
  box-shadow: 0 10px 0 rgba($black,.55)
  section
    padding: 10px 30px
    height: auto
  &-logo
    height: 100px
  &-mobile
    &-btn
      display: none
    &-form
      flex-direction: row
      background-color: transparent
      border: none
      padding: 0
      .head-logo
        display: none
      .head-callback
        +w(auto)
      &-row
        width: auto
    &-close
      display: none
  &-conts
    display: block
    &-row
      &:first-child
        display: none
      &:last-child
        display: block
        margin-bottom: 0
      span
        display: flex
        align-items: center
        svg
          margin-right: 10px
  &-callback
    display: none!important
    &-tablet
      +dfc
      flex-direction: column
      &-img
        +dfc
        +wh(62px)
        margin-bottom: 10px
        border: 3px solid $red
        border-radius: 100%

.main-title
  font-size: 36px
  line-height: 48px
  span
    display: inline
    margin-right: 15px

.banner
  padding-top: 174px
  padding-bottom: 30px
  background-size: cover
  background-position: 55% 0
  &-item,&-btn
    font-size: 20px
  &-row
    flex-direction: row
    margin-top: 30px
    padding: 0 30px
  &-tel
    +w(auto)
    background-color: transparent
    text-align: center
    padding: 0
  &-btn
    order: 0
    padding: 9px 50px
    margin: 0 auto 0 0

.services
  background-position: 600px 100px, -240px 500px
  &-list
    display: flex
    justify-content: space-between
  &-item
    width: calc((100% / 3) - 12px)
    margin-bottom: 0
  &-block
    &:last-child
      .services-item
        width: calc((100% / 2) - 8px)

.lab
  padding: 50px 0
  &-text,&-text-big
    width: 80%
    margin-right: auto
    margin-left: auto
    span,strong
      display: inline
      margin-right: 5px
    p
      margin-bottom: 10px
  &-img
    height: 288px
    &-first
      left: -50px
      bottom: -50px
    &-last
      right: -50px

.attestat
  &-row
    padding: 15px 40px 25px
  &-glass
    width: 140px
    position: absolute
    bottom: -60px
    right: -45px

.shop
  padding-top: 20px
  margin-bottom: 25px
  &-img
    &-first
      width: 76px
      bottom: -80px
    &-last
      width: 148px
      bottom: -33px
      right: 23px

