$unit: 'px'
section
  +w($tablet-large#{$unit})

.head
  &-conts
    &-row,&-row:last-child
      display: flex
      align-items: center
      a
        margin-bottom: 0
        margin-right: 20px
  &-mobile
    &-form
      svg
        width: 25px

.main-title
  font-size: 48px
  span
    display: block
    margin-right: 0

.banner
  &-item,&-btn
    font-size: 24px
  &-tel
    font-size: 48px
    svg
      width: 34px

.services
  background-position: 900px 100px, -240px 500px
