footer

    - if(fancy || slick)
        +inc('js','js/jquery-3.3.1.min.js')
    - if(fancy)
        +inc('js','js/jquery.fancybox.min.js')
    - if(slick)
        +inc('js','slick.js')
    +inc('js','js/main.js',true)
    +inc('js','js/modaler.lib.js',true)