extends template/main
append vars
  -
    page_title = 'Главная'
block content
    main
        .banner
            section
                h1.main-title
                    span Лабораторные
                    span пожарные
                    span испытания
                ul.banner-list
                    li.banner-item
                        include ../img/icons/red-mark.svg
                        span.banner-item-text Огнеупорность
                    li.banner-item
                        include ../img/icons/red-mark.svg
                        span.banner-item-text Изоляция
                    li.banner-item
                        include ../img/icons/red-mark.svg
                        span.banner-item-text Прочность
                .banner-row
                    a(href='#').banner-btn
                        span Подробнее
                    a(href='tel:+71234566778').banner-tel
                        span +7 (123) 456-67-78
                        include ../img/icons/phone-solid.svg
        .calltoaction.border
            section
                p.calltoaction-text
                    span Не прошли проверку пожарной безопасности или готовитесь к ней?
                    span У нас вы можете заказать все обязательные виды испытаний
                    span для #[strong выполнения и обеспечения] пожарной безопасности
        .services
            section
                .services-block
                    h3.services-title
                        include ../img/icons/hydrant.svg
                        span Замеры электропроводки на сопротивление
                    ul.services-list
                        li.services-item.services-item-first
                            .services-item-cont
                                p.services-item-fill
                                    | Замер электропроводки
                                    | на сопротивление изоляции
                        li.services-item.services-item-second
                            .services-item-cont
                                p.services-item-fill
                                    | Испытания параметров
                                    | систем вентиляции,
                                    | кондиционирования
                                    | и противодымной защиты
                        li.services-item.services-item-third
                            .services-item-cont
                                p.services-item-fill
                                    | Испытания наружного
                                    | и внутреннего
                                    | противопожарного
                                    | водоснабжения
                                    | на работоспособность
                .services-block
                    h3.services-title
                        include ../img/icons/fire.svg
                        span Определение качества огнезащитной обработки деревянных, металлических конструкций и тканей
                    ul.services-list
                        li.services-item.services-item-forth
                            .services-item-cont
                                p.services-item-fill
                                    | Определение качества
                                    | огнезащитной обработки
                                    | стальных конструкций
                        li.services-item.services-item-fifth
                            .services-item-cont
                                p.services-item-fill
                                    | Определение качества
                                    | огнезащитной обработки
                                    | деревянных конструкций
                        li.services-item.services-item-sixth
                            .services-item-cont
                                p.services-item-fill
                                    | Определение качества
                                    | огнезащитной обработки
                                    | текстильного материала
                .services-block
                    h3.services-title
                        include ../img/icons/shield.svg
                        span Определение прочности лестниц и ограждений кровли
                    ul.services-list
                        li.services-item.services-item-seventh
                            .services-item-cont
                                p.services-item-fill
                                    | Определение прочности ограждений кровли
                        li.services-item.services-item-eigth
                            .services-item-cont
                                p.services-item-fill
                                    | Определение прочности стационарной
                                    | наружной маршевой пожарной лестницы
                                    | наружной вертикальной пожарной лестницы
                                    | с ограждением свыше 6 метров
                                    | либо без ограждения
        .calltoaction.border
            section
                p.calltoaction-text
                    span По результатам испытаний образцов выдается протокол пожарных испытаний,
                    span на основании которого орган по сертификации принимает решение
                    span о выдаче пожарного сертификата.
        .lab
            section
                .lab-text
                    p
                        span Вышеперечисленные испытания
                        span проводится в целях
                        span контроля за соблюдением
                    p
                        strong Правил Пожарной Безопасности
                        span согласно действующему законодательству
                a(href='#').lab-btn Общие требования пожарной безопасности
                .lab-text-big
                    p
                        span Полный список тестов
                        span на пожаробезопастность
                    p
                        span Вы можете узнать связавшись
                        span с нашими экспертами
                a(href='#').lab-link Связаться с лабораторией
                +img('extingusher.png').lab-img.lab-img-first
                +img('extingusher.png').lab-img.lab-img-last

