extends template/main
append vars
  -
    page_title = 'Главная'
      slick= true
block content
    main
        .banner
            section
                h1.main-title.banner-q
                    span Лабораторные
                    span пожарные
                    span испытания
                ul.banner-list
                    li.banner-item.banner-q
                        include ../img/icons/red-mark.svg
                        span.banner-item-text Огнеупорность
                    li.banner-item.banner-q
                        include ../img/icons/red-mark.svg
                        span.banner-item-text Изоляция
                    li.banner-item.banner-q
                        include ../img/icons/red-mark.svg
                        span.banner-item-text Прочность
                .banner-row
                    a(href='#').banner-btn
                        span Подробнее
                    a(href='tel:+77084250501').banner-tel
                        span +7-708-425-05-01
                        include ../img/icons/phone-solid.svg
        .calltoaction.border.c-1
            section
                p.calltoaction-text
                    span.c-1c Не прошли проверку пожарной безопасности или готовитесь к ней?&nbsp;
                    span.c-1c У нас вы можете заказать все обязательные виды испытаний&nbsp;
                    span.c-1c для #[strong выполнения и обеспечения] пожарной безопасности
        .services
            section
                .services-block
                    h3.services-title
                        include ../img/icons/hydrant.svg
                        span Замеры электропроводки на сопротивление
                    ul.services-list
                        li.services-item.services-item-first
                            .services-item-cont
                                p.services-item-fill
                                    | Замер электропроводки
                                    | на сопротивление изоляции
                        li.services-item.services-item-second
                            .services-item-cont
                                p.services-item-fill
                                    | Испытания параметров
                                    | систем вентиляции,
                                    | кондиционирования
                                    | и противодымной защиты
                        li.services-item.services-item-third
                            .services-item-cont
                                p.services-item-fill
                                    | Испытания наружного
                                    | и внутреннего
                                    | противопожарного
                                    | водоснабжения
                                    | на работоспособность
                .services-block
                    h3.services-title
                        include ../img/icons/fire.svg
                        span Определение качества огнезащитной обработки деревянных, металлических конструкций и тканей
                    ul.services-list
                        li.services-item.services-item-forth
                            .services-item-cont
                                p.services-item-fill
                                    | Определение качества
                                    | огнезащитной обработки
                                    | стальных конструкций
                        li.services-item.services-item-fifth
                            .services-item-cont
                                p.services-item-fill
                                    | Определение качества
                                    | огнезащитной обработки
                                    | деревянных конструкций
                        li.services-item.services-item-sixth
                            .services-item-cont
                                p.services-item-fill
                                    | Определение качества
                                    | огнезащитной обработки
                                    | текстильного материала
                .services-block
                    h3.services-title
                        include ../img/icons/shield.svg
                        span Определение прочности лестниц и ограждений кровли
                    ul.services-list
                        li.services-item.services-item-seventh
                            .services-item-cont
                                p.services-item-fill
                                    | Определение прочности ограждений кровли
                        li.services-item.services-item-eigth
                            .services-item-cont
                                p.services-item-fill
                                    | Определение прочности стационарной
                                    | наружной маршевой пожарной лестницы
                                    | наружной вертикальной пожарной лестницы
                                    | с ограждением свыше 6 метров
                                    | либо без ограждения
        .calltoaction.border.c-2
            section
                p.calltoaction-text
                    span.c-2c По результатам испытаний образцов выдается протокол пожарных испытаний,
                    span.c-2c на основании которого орган по сертификации принимает решение
                    span.c-2c о выдаче пожарного сертификата.
        .lab
            section
                .lab-text
                    p
                        span Вышеперечисленные испытания
                        span проводится в целях
                        span контроля за соблюдением
                    p
                        a(href='http://adilet.zan.kz/rus/docs/P1400001077')
                            strong Правил Пожарной Безопасности
                        span согласно действующему законодательству
                a(href='http://adilet.zan.kz/rus/docs/P1400001077').lab-btn Общие требования пожарной безопасности
                .lab-text-big
                    p
                        span Полный список тестов
                        span на пожаробезопастность
                    p
                        span Вы можете узнать связавшись
                        span с нашими экспертами
                a(href='#').lab-link Связаться с лабораторией
                +img('extingusher.png').lab-img.lab-img-first
                +img('extingusher.png').lab-img.lab-img-last
        .calltoaction.border.c-3
            section
                p.calltoaction-text
                    span.c-3c Мы являемся сертфицированной и аккредитованной лабораторией.
                    span.c-3c Доверьте испытания профессионалам.
        .attestat#attestat
            section
                .attestat-row
                    button.attestat-btn("data-click-action"="Modaler:showModal" "data-object"={"content":".att-1","append":false,"max-width":"90%","animation":"opacity-scale"})
                        img(src='../../img/att-1.jpg').att-1
                    button.attestat-btn("data-click-action"="Modaler:showModal" "data-object"={"content":".att-2","append":false,"max-width":"90%","animation":"opacity-scale"})
                        +img('../../img/att-2.jpg').att-2
                    button.attestat-btn("data-click-action"="Modaler:showModal" "data-object"={"content":".att-3","append":false,"max-width":"90%","animation":"opacity-scale"})
                        +img('../../img/att-3.jpg').att-3
                    +img('../../img/magnific-glass.png').attestat-glass
        .shop
            .calltoaction.border.c-4
                section
                    p.calltoaction-text
                        span.c-4c Также у нас есть магазин и мы предоставляем
                        span.c-4c все необходимые товары по пожарной безопасности.
            section
                p.shop-text.calltoaction-text
                    span Щиты, пожарный инвентарь, огнетушители и многое другое
                a(href='http://pbt.kz' target='_blank').lab-link Открыть магазин
                +img('../../img/fire-axe.png').shop-img.shop-img-first
                +img('../../img/fire-shield.png').shop-img.shop-img-last
        .calltoaction.border
            section
                p.calltoaction-text
                    span Наши клиенты
        .client
            .client-slider-cont
                section
                    button.client-arrow.client-arrow-left.slick-next.slick-arrow
                    .client-slider-row
                        .client-slider
                            .client-slide
                                div
                                    +img('../../img/kegoc.png')
                            .client-slide
                                div
                                    +img('../../img/EmcAgro.png')
                            .client-slide
                                div
                                    +img('../../img/subaru.png')
                            .client-slide
                                div
                                    +img('../../img/UniversityServiceManagement.png')
                            .client-slide
                                div
                                    +img('../../img/BioOperations.png')
                    button.client-arrow.client-arrow-right.slick-prev.slick-arrow
            p.client-info
                span А также многие другие, компании не имеющие представительств в интернете, дошкольные и школьные образовательные учреждения,
                span медицинские учреждения и организации культуры и искусства города Кокшетау, Нур-Султан, Акмолинской области и Северо-Казахстанской областей.
        .asks
            .calltoaction.border
                section
                    p.calltoaction-text
                        span Часто задаваемые вопросы
            section
                .asks-block
                    h5.asks-block-title Определение качества огнезащитной обработки деревянных и стальных конструкций
                    ul.asks-list
                        li.asks-item
                            input(type='radio' name='ask' checked)#ask-1
                            label(for='ask-1').asks-label
                                .asks-label-icon
                                    span +
                                    span -
                                span Основание для проведения испытания?
                            p.asks-item-text Руководитель организации обеспечивает проверку состояния огнезащитной обработки (пропитки).
                        li.asks-item
                            input(type='radio' name='ask')#ask-2
                            label(for='ask-2').asks-label
                                .asks-label-icon
                                    span +
                                    span -
                                span Как часто необходимо проводить повторную экспертизу (периодичность)?
                            p.asks-item-text Состояние огнезащитной обработки (пропитки) проверяется в сроки, указанные в технической документации, или не реже одного раза в год с составлением протокола испытаний в соответствии с п.9.4.7 СТ РК 615-2-2011 и п. 9.4.10 СТ РК 615-1-2011.
                        li.asks-item
                            input(type='radio' name='ask')#ask-3
                            label(for='ask-3').asks-label
                                .asks-label-icon
                                    span +
                                    span -
                                span На основании какого документа проводится испытания?
                            p.asks-item-text П.2-31 Постановление Правительства Республики Казахстан от 9 октября 2014 года № 1077 «Об утверждении Правил пожарной безопасности»
                .asks-block
                    h5.asks-block-title Определение прочности стационарной наружной маршевой и вертикальной пожарной лестницы, без ограждения, с ограждением свыше 6 м.
                    ul.asks-list
                        li.asks-item
                            input(type='radio' name='ask')#ask-4
                            label(for='ask-4').asks-label
                                .asks-label-icon
                                    span +
                                    span -
                                span Основание для проведения испытания?
                            p.asks-item-text Наружные пожарные лестницы и ограждения на крышах зданий и сооружений содержатся в исправном состоянии всегда
                        li.asks-item
                            input(type='radio' name='ask')#ask-5
                            label(for='ask-5').asks-label
                                .asks-label-icon
                                    span +
                                    span -
                                span Как часто необходимо проводить повторную экспертизу (периодичность)?
                            p.asks-item-text Не реже одного раза в пять лет
                        li.asks-item
                            input(type='radio' name='ask')#ask-6
                            label(for='ask-6').asks-label
                                .asks-label-icon
                                    span +
                                    span -
                                span На основании какого документа проводится испытания?
                            p.asks-item-text П.2-34 Постановление Правительства Республики Казахстан от 9 октября 2014 года № 1077 «Об утверждении Правил пожарной безопасности»
                .asks-block
                    h5.asks-block-title Замер электропроводки на сопротивление изоляции
                    ul.asks-list
                        li.asks-item
                            input(type='radio' name='ask')#ask-7
                            label(for='ask-7').asks-label
                                .asks-label-icon
                                    span +
                                    span -
                                span Основание для проведения испытания?
                            p.asks-item-text Проверка состояния стационарного оборудования, электропроводки силовой и осветительной сети, испытания и измерение сопротивления изоляции проводов, кабелей и заземляющих устройств проводятся при вводе в эксплуатацию, а в дальнейшем по графику, но не реже одного раза в три года
                        li.asks-item
                            input(type='radio' name='ask')#ask-8
                            label(for='ask-8').asks-label
                                .asks-label-icon
                                    span +
                                    span -
                                span Как часто необходимо проводить повторную экспертизу (периодичность)?
                            p.asks-item-text Не реже одного раза в три года
                        li.asks-item
                            input(type='radio' name='ask')#ask-9
                            label(for='ask-9').asks-label
                                .asks-label-icon
                                    span +
                                    span -
                                span На основании какого документа проводится испытания?
                            p.asks-item-text П.6-5 Постановление Правительства Республики Казахстан от 9 октября 2014 года № 1077 «Об утверждении Правил пожарной безопасности»
                .asks-block
                    h5.asks-block-title Испытания наружного и внутреннего противопожарного водоснабжения на работоспособность (водоотдачу) посредством пуска воды, а также состоянии установок пожаротушения и пожарной сигнализации
                    ul.asks-list
                        li.asks-item
                            input(type='radio' name='ask')#ask-10
                            label(for='ask-10').asks-label
                                .asks-label-icon
                                    span +
                                    span -
                                span Основание для проведения испытания?
                            p.asks-item-text Ответ
                        li.asks-item
                            input(type='radio' name='ask')#ask-11
                            label(for='ask-11').asks-label
                                .asks-label-icon
                                    span +
                                    span -
                                span Как часто необходимо проводить повторную экспертизу (периодичность)?
                            p.asks-item-text Ответ
                        li.asks-item
                            input(type='radio' name='ask')#ask-12
                            label(for='ask-12').asks-label
                                .asks-label-icon
                                    span +
                                    span -
                                span На основании какого документа проводится испытания?
                            p.asks-item-text П.2-34 Постановление Правительства Республики Казахстан от 9 октября 2014 года № 1077 «Об утверждении Правил пожарной безопасности»
                .asks-block
                    h5.asks-block-title Общие вопросы
                    ul.asks-list
                        li.asks-item
                            input(type='radio' name='ask')#ask-13
                            label(for='ask-13').asks-label
                                .asks-label-icon
                                    span +
                                    span -
                                span Кто может проводить сертификационные испытания?
                            p.asks-item-text Сертификационные испытания могут проводить испытательные лаборатории, независимо от форм собственности, аккредитованные в государственной системе технического регулирования РК и имеющие аттестат аккредитации, зарегистрированный в реестре субъектов аккредитации НЦА согласно утвержденной области аккредитации.
                        li.asks-item
                            input(type='radio' name='ask')#ask-14
                            label(for='ask-14').asks-label
                                .asks-label-icon
                                    span +
                                    span -
                                span Если я потерял или испортил протокол, что делать?
                            p.asks-item-text На сайте #[a(href='http://pbt.kz' target='_blank') pbt.kz] вы заходите в раздел проверка протокола, вводите БИН заказчика и скачиваете свой протокол
                        li.asks-item
                            input(type='radio' name='ask')#ask-15
                            label(for='ask-15').asks-label
                                .asks-label-icon
                                    span +
                                    span -
                                span Как узнать поддельный протокол или в действительности были проведены испытания и протокол выдан атестованной организацией?
                            p.asks-item-text На сайте #[a(href='http://pbt.kz' target='_blank') pbt.kz] вы заходите в раздел проверка протокола, вводите БИН заказчика и смотрите протокол
                        li.asks-item
                            input(type='radio' name='ask')#ask-16
                            label(for='ask-16').asks-label
                                .asks-label-icon
                                    span +
                                    span -
                                span Где посмотреть можно Ваш аттестат и область аккредитации?
                            p.asks-item-text На #[a(href='#' class='asks-acc') настоящем сайте], а также на сайте #[a(href='http://nca.kz' target='_blank') nca.kz] в разделе реестр субъектов аккредитации
                        li.asks-item
                            input(type='radio' name='ask')#ask-17
                            label(for='ask-17').asks-label
                                .asks-label-icon
                                    span +
                                    span -
                                span Какие дополнительные услуги Вы можете оказать?
                            p.asks-item-text Мы оказываем очень широкий спектр услуг, с которым Вы можете ознакомиться на сайте #[a(href='http://pbt.kz' target='_blank') pbt.kz]

